NEXT_PUBLIC_BACKEND_URL=""
NEXT_PUBLIC_MAP_CLIENT_ID=""
NEXT_PUBLIC_EXTENSION_STORE_URL="https://chromewebstore.google.com/detail/nearbybook/ifholedgogcogipjgaaljiboodpnbcec"
NEXT_PUBLIC_EXTENSION_WHALE_STORE_URL="https://store.whale.naver.com/detail/obibakaogmkejdobgjnlnjbnpbjpeegk"
MAINTENANCE=false
