@import "tailwindcss";
@import "tw-animate-css";
@source "../../../packages/ui/components/**/*.{ts,tsx}";
@import "../../../packages/ui/styles/globals.css";

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@layer utility {
  .spinner {
    animation: rotate 2s linear infinite;
    width: 50px;
    height: 50px;
  }

  .path {
    stroke: currentColor; /* 부모의 text 색상을 상속받습니다. */
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}
